[Unit]
Description=Reset app grid

BindsTo=gnome-session-shutdown.target
Before=gnome-session-shutdown.target

ConditionUser=!@system
ConditionEnvironment=XDG_SESSION_CLASS=user

[Service]
Type=oneshot
ExecStart=/usr/bin/gsettings reset org.gnome.shell app-picker-layout
ExecStart=/usr/bin/gsettings reset org.gnome.desktop.app-folders folder-children

[Install]
WantedBy=gnome-session-shutdown.target
