[Unit]
Description=Reset gsettings schemas

BindsTo=gnome-session-shutdown.target
Before=gnome-session-shutdown.target

ConditionUser=!@system
ConditionEnvironment=XDG_SESSION_CLASS=user

[Service]
Type=oneshot
ExecStart=/usr/bin/gsettings-reset-schemas

[Install]
WantedBy=gnome-session-shutdown.target
