[Unit]
Description=Set main user as Tailscale operator
ConditionPathExists=!/var/lib/tailscale/.tailscale-initialized
BindsTo=tailscaled.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/usr/sbin/id -nu 1000
ExecStart=/bin/sh -c '/usr/bin/tailscale set --operator=$(id -nu 1000)'
ExecStartPost=/usr/bin/touch /var/lib/tailscale/.tailscale-initialized

[Install]
WantedBy=multi-user.target
