[Unit]
Description=Copy monitor configuration from main user to xdg for gdm
ConditionDirectoryNotEmpty=/var/lib/AccountsService/users
Before=gdm.service

[Service]
ExecStart=/usr/bin/cp /home/MAIN_USER/.config/monitors.xml /etc/xdg/monitors.xml

[Install]
WantedBy=graphical.target
